#cardHeader_main{ 
    display: flex;
    width: 100%;
    height: 15%;
    justify-content: center;
    
}
/* Header elements */
#cardHeader_content{
    padding-bottom: 20px;
}
#cardHeader_content h1{
    display: inline-block;
    font-family: cursive;
    font-size: 15px;
}
#cardHeader_content button{
    display: inline-block;
    margin-left: 20px;
    background-color: #3863da;
    border-radius: 7px;
    padding: 9px 15px;
    border: none;
    color: white;
    font-size: 7px;
}
#cardHeader_content img{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    
}

#cardHeader_content p{
    display: inline-block;
    font-family: cursive;
    font-size: 10px;
    opacity: 0.5;
    margin-left: 10px;

}
#cardHeader_para{
    display: flex;
}